<ul class="nav nav-pills nav-stacked col-xs-2">
	<li class="active"><a href="/">主页</a></li>
	<li><a href="/blog">存档</a></li>
	<li><a href="/post">发布</a></li>
	<li><a href="/login">登录</a></li>
	<li><a href="/reg">注册</a></li>
	<li><a href="/logout">退出</a></li>
</ul>