<%- include header %>

<body>
	<div id="hd" class="hd"><h1><%= title %></h1></div>
	<hr/>
	<%- include menu %>

	<div id="bd" class="bd">
		<p>Hello World</p>
	</div>

</body>

<%- include footer %>